html, body, #__LAPLACE {
   @apply w-full h-full m-0 font-sans text-black overflow-hidden;
   background: linear-gradient(0deg, white, #E4E4E4)
}

body:before {
   width: 100%;
   height: 100%;
   position: absolute;
   background-image: url(/noise.png);
   opacity: 0.025;
   background-size: 15vw;
   z-index: 0
}

#__LAPLACE_PROJECTS_LIST {
   @apply xl:transform-matrix transform-none;
   box-shadow: -50px 30px 35px #d1d1d1
}

::-webkit-scrollbar {
   @apply xl:w-[10px];
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   @apply lg:rounded-[10px] bg-black
 }

a {
   color: currentColor;
   text-decoration: underline;
}

#__LAPLACE_CONTENT.cursor-disabled a, #__LAPLACE_CONTENT.cursor-disabled a:hover {
   cursor: none
}

code {
   @apply font-mono
}

a.router-link-active {
   color: #eee
}

a.router-link-exact-active {
   color: #fff
}